<%- include("partials/header"); -%>


  <!-- <p> <%= startingContent %> </p> -->
  <div class="row">
  <div class="col-lg-12">
    <div class=" glass">
      <h2>Welcome To The Daily journal <i class="fas fa-blog"></i></h2>
      <h3 >Share Your Thoughts about world <i class="fas fa-globe-americas class="icon"> </i> !!</h3>
    </div>
  </div>

</div>


  <%  posts.forEach(function(post){ %>

  <h1><%=post.title%></h1>
  <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
  </p>


  <% }) %>


  <%- include("partials/footer"); -%>
